.right-pannel-div{
  display:flex;
  right: 10px;;
  
}



.preview-pannel-div{
  display:flex;
  flex-direction: column;
  width:100%;
  
  
  
          
 
}
.preview-grid{
  margin: 5px 10px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 5px;
  height: 100%;
  width: 100%;
  background-color: rgb(244, 237, 237);
  padding: 8px 15px;
}

@media (max-width: 800px) {
 .preview-grid{
  grid-template-columns: 1fr 1fr;
 } 
}
@media (max-width:600px){
  .preview-grid{
    grid-template-columns: 1fr;
  }
}

.preview-div{
  display:flex;
  flex-direction: column;
  row-gap: 10px;
   
}
.Thumbnail{
  height: 200px;
  width:100%;
  border-radius: 8px;
}
.video-details-grid{
  display:grid;
  grid-template-columns:50px 1fr;
  height:195px;
  column-gap: 5px;
  margin-top: 5px;
}

.title-grid{
  display:grid;
  grid-template-columns:1fr 20px;
}
.title-text{
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  font-family: arial;
}

.icon{
  width:100%;
}
.profile-pic{
  width:40px;
  height: 40px;
  border-radius: 20px;
}